


.badge{
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: #ed4a58;
    padding: 2px 6px;
}