


.resultHeader{
    padding:20px 80px ;
    text-align: center;
    background-color: #4c5365;
    color: white;
    font-size: 22px;
}
.resultHeader_subHeading{
    font-size: 16px;
    margin-top: 10px;
}