.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8d7da;
  color: #721c24;
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.homeButton {
  background-color: #721c24;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #501217;
}
